 /* ν‘Έν„° μ…‹ν… */
 #footer {
     width: 100%;
     height: 300px;
     background-color: #333;
     text-align: center;
     padding-top: 50px;
 }

 .footer p {
     font-size: 15px;
     font-style: italic;
     padding: 20px;
     font-weight: bold;
 }