/* 메인 셋팅 */
#main{width: 100%; height: 3500px; background-color: #efefef;}
#introduction{height: 1500px; border: 1px solid red; position: relative;}
/* 자기소개 셋팅 */
.beeBox{position: absolute; top: 500px; left: 20%; 
    width: 337px; height: 510px; /* bee size */
    border: 1px solid blue;}
.bee{position: fixed; top: 50%; left: 20%;
     width: 15%; z-index: 10;}
.bee img{width: 100%; height: auto;}
.bee.on{position: absolute; transition: bottom 1s ease-out;
    top: 500px; 
    width: 337px; height: 510px;} 
.bee.on2{
    position: fixed; top: 50%; 
    width: 15%; transition: top 1s ease-in;}
.bee.on3{opacity: 0; transition: all 1s ease;}
/* 게임사진 셋팅 */
#gamepicture{
    text-align: center;
    width: 100%; height: 1000px; position: relative;}
.secondImg{
    position: absolute;
    background-image: url(../brawl_img/mortis.jpg);
    background-repeat: no-repeat; background-position: center;
    background-size: cover; width: 100%; height: 100%; opacity: 0.3;}

    .slick1, .slick2 {
        display: inline-block;
        justify-content: center;
        width: 500px;
        height: 300px;
        border: 4px solid white;
        border-radius: 30px;
        margin: 200px 50px;
    }
    
    /* slick-slide 내부의 이미지 스타일 (slick의 기본 슬라이드 구조 활용) */
    .slick-slide img {
        width: auto;
        height: 300px;
        display: block;    /* inline 요소 문제 해결 */
        margin: 0 auto;    /* 중앙 정렬 */
    }



/* 다운로드 셋팅 */
#download{height: 1000px; background-image: url(../brawl_img/last_background.jpg);
    background-repeat: no-repeat; background-position: center;
    background-size: cover; position: relative;}
.downloadBox{
    position: absolute; width: 1200px; height: 600px; border: 0;
    border-radius: 30px; background-color: white;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
    z-index: 10;
}
.videoBox{
    width: 600px; height: 500px;
    margin: 50px;
    border: 6px solid rgb(0,0,0,0.5); border-radius: 30px;
    overflow: hidden;
}
.videoBox video{
    width: 100%; height: 100%;
}
.downloadBox p{position: absolute; top: 200px; right: 100px; width: 300px; text-align: center;
font-size: 40px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.downloadBox img{position: absolute; top: 350px; right: 100px; width: 300px;
    cursor: pointer;}